[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/scrooloose/vimfiles.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim-css3-syntax"]
	path = vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
